.top-navigation .mdl-navigation__link:hover {
  border-bottom: 4px solid #2296f3;
}

.top-navigation .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}

.top-navigation .mdl-navigation__link:hover {
  border-bottom: 4px solid #2296f3;
}

.center {
  margin: 0 auto;
}

main {
  padding: 20px 30px 20px 30px;
}

.resource {
  background: #3F51B5;
}

.mdl-card__title-text {
  color: white;
}
